$desktop-padding: 5rem;
$mobile-padding: 2rem;

@font-face {
  font-family: "SangBleu Kingdom Light";
  src: url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.eot');
  src: url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.eot#iefix') format("embedded-opentype"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.woff2') format("woff2"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.woff') format("woff"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl Light S";
  src: url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.eot');
  src: url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.eot#iefix') format("embedded-opentype"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.woff2') format("woff2"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.woff') format("woff"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin desktop {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  background: black;
}
html {
  font-size: 62.5%
}
body {
  color: white;
  font-size: 6rem;
  white-space: nowrap;
}
@mixin serif() {
  font-family: "SangBleu Kingdom Light", serif;
  text-transform: uppercase;
}
@mixin sans-serif() {
  font-family: "SuisseIntl Light S", sans-serif;
  text-transform: uppercase;
}
.header {
  &--serif {
    @include serif();
    @include mobile() {
      font-size: 2.8rem;
      line-height: 3.4rem;
    }

    @include desktop() {
      font-size: 5.9rem;
      line-height: 6.8rem;
      letter-spacing: .1rem;
    }
  }
  &--sans-serif {
    @include sans-serif();
    @include mobile() {
      font-size: 3.0rem;
      line-height: 3.4rem;
    }
    @include desktop() {
      font-size: 6.2rem;
      line-height: 6.8rem;
      letter-spacing: .1rem;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: unset;
  line-height: unset;
  margin: 0;
  padding: 0;
  text-align: center;
}
a, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}
.split {
  height: 100%;
}
.split-half {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: clip-path .25s ease-in-out;
  cursor: pointer;
  &.full-width {
    cursor: default;
  }
  &--left {
    clip-path: inset(0 50% 0 0);
    .split-half__media {
      filter: hue-rotate(180deg);
      @include desktop() {
        padding-right: $desktop-padding * 2;
      }
      @include mobile() {
        padding-right: $mobile-padding * 2;
      }
    }
    &.full-width {
      @include desktop() {
        clip-path: inset(0 $desktop-padding * 2 0 0);
        &.shrink {
          clip-path: inset(0 $desktop-padding * 3 0 0);
        }
      }

      @include mobile() {
        clip-path: inset(0 $mobile-padding * 2 0 0);
        &.shrink {
          clip-path: inset(0 $mobile-padding * 3 0 0);
        }
      }
    }
  }
  &--right {
    clip-path: inset(0 0 0 calc(50% - 1px));
    .split-half__media {
      @include desktop() {
        padding-left: $desktop-padding * 2;
      }
      @include mobile() {
        padding-left: $mobile-padding * 2;
      }
    }
    &.full-width {
      @include desktop() {
        clip-path: inset(0 0 0 $desktop-padding * 2);
        &.shrink {
          clip-path: inset(0 0 0 $desktop-padding * 3);
        }
      }

      @include mobile() {
        clip-path: inset(0 0 0 $mobile-padding * 2);
        &.shrink {
          clip-path: inset(0 0 0 $mobile-padding * 3);
        }
      }
    }
  }
  &.front {
    z-index: 1;
  }
  &__text, &__footer {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__text {
    @include desktop() {
      top: $desktop-padding;
    }
    @include mobile() {
      top: $mobile-padding;
    }
  }
  &__media {
    height: 100%;
    width: 100%;
    clip-path: inset(0 0 0 0);
    &__item {
      background: black;
      width: 100%;
      height: 100%;
      display: none;
      &--image {
        background-position: center center;
        background-repeat: repeat;
        background-size: contain;
      }
      &--video {
        object-fit: cover;
      }
      &--active {
        display: block;
      }
    }
  }

  &__footer {
    @include desktop() {
      bottom: $desktop-padding
    }
    @include mobile() {
      bottom: $mobile-padding
    }
  }
}
.credits {
  @include serif();
  z-index: 2;
  transform: rotateZ(-90deg);
  transform-origin: bottom left;
  line-height: .9;
  left: 100%;
  display: flex;
  align-items: center;
  @include desktop() {
    height: $desktop-padding * 2;
    bottom: $desktop-padding;
    right: $desktop-padding;
    font-size: 1.2rem;
  }

  @include mobile() {
    height: $mobile-padding * 2;
    bottom: 1.5rem;
    right: 0;
    font-size: 1.0rem;
  }
  position: fixed;
  &__credit {
    display: inline-block;
    margin-right: 1.5rem;
  }
}