$desktop-padding: 5rem;
$tablet-padding: 2.5rem;
$mobile-padding: 1.25rem;

@font-face {
  font-family: "SangBleu Kingdom Light";
  src: url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.eot');
  src: url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.eot#iefix') format("embedded-opentype"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.woff2') format("woff2"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.woff') format("woff"),
       url('../assets/fonts/serif/S/SangBleuKingdom-Light-WebS.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SuisseIntl Light S";
  src: url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.eot');
  src: url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.eot#iefix') format("embedded-opentype"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.woff2') format("woff2"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.woff') format("woff"),
       url('../assets/fonts/sans-serif/S/SuisseIntl-Light-WebS.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@mixin desktop {
  @media screen and (min-width: 769px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 550px) and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 549px) {
    @content;
  }
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  background: black;
}
html {
  font-size: 62.5%
}
body {
  color: white;
  font-size: 6rem;
  white-space: nowrap;
}
@mixin serif() {
  font-family: "SangBleu Kingdom Light", serif;
  text-transform: uppercase;
}
@mixin sans-serif() {
  font-family: "SuisseIntl Light S", sans-serif;
  text-transform: uppercase;
}
.header {
  &--serif {
    @include serif();
    @include mobile() {
      font-size: 2.45rem;
      line-height: 2.8rem;
    }

    @include tablet() {
      font-size: 4.9rem;
      line-height: 5.6rem;
    }

    @include desktop() {
      font-size: 5.9rem;
      line-height: 6.8rem;
      letter-spacing: .1rem;
    }
  }
  &--sans-serif {
    @include sans-serif();
    @include mobile() {
      font-size: 2.6rem;
      line-height: 2.8rem;
    }
    @include tablet() {
      font-size: 5.2rem;
      line-height: 5.6rem;
    }
    @include desktop() {
      font-size: 6.2rem;
      line-height: 6.8rem;
      letter-spacing: .1rem;
    }
  }
}
.sans-serif-small {
  @include sans-serif();
  font-size: 1.2rem;
  line-height: 1;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: unset;
  line-height: unset;
  margin: 0;
  padding: 0;
  text-align: center;
}
a, a:visited, a:active, a:focus {
  color: inherit;
  text-decoration: none;
}
.split {
  height: 100%;
}
.split-half {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: clip-path .25s ease-in-out;
  cursor: pointer;
  &--left {
    clip-path: inset(0 50% 0 0);

    &.full-width {
      @include desktop() {
        clip-path: inset(0 $desktop-padding * 2 0 0);
        @media (hover: hover) {
         clip-path: inset(0 $desktop-padding * 3 0 0);
          &:hover {
            clip-path: inset(0 $desktop-padding * 2 0 0);
          }
        }
      }
       @include tablet() {
        clip-path: inset(0 $tablet-padding * 2 0 0);
        @media (hover: hover) {
          clip-path: inset(0 $tablet-padding * 3 0 0);
          &:hover {
            clip-path: inset(0 $tablet-padding * 2 0 0);
          }
        }
      }
      @include mobile() {
        clip-path: inset(0 $mobile-padding * 2 0 0);
        @media (hover: hover) {
          clip-path: inset(0 $mobile-padding * 3 0 0);
          &:hover {
            clip-path: inset(0 $mobile-padding * 2 0 0);
          }
        }
      }
    }
  }
  &--right {
    clip-path: inset(0 0 0 50%);
    &.full-width {
      @include desktop() {
        clip-path: inset(0 0 0 $desktop-padding * 2);
        @media (hover: hover) {
          clip-path: inset(0 0 0 $desktop-padding * 3);
          &:hover {
            clip-path: inset(0 0 0 $desktop-padding * 2);
          }
        }
      }
      @include tablet() {
        clip-path: inset(0 0 0 $tablet-padding * 2);
        @media (hover: hover) {
          clip-path: inset(0 0 0 $tablet-padding * 3);
          &:hover {
            clip-path: inset(0 0 0 $tablet-padding * 2);
          }
        }
      }
      @include mobile() {
        clip-path: inset(0 0 0 $mobile-padding * 2);
        @media (hover: hover) {
          clip-path: inset(0 0 0 $mobile-padding * 3);
          &:hover {
            clip-path: inset(0 0 0 $mobile-padding * 2);
          }
        }
      }
    }
  }
  &.front {
    z-index: 1;
  }
  &__text {
    clip: rect(top, right, bottom, left);
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding-top: $desktop-padding;
  }
  &__media {
    width: 100%;
    height: 100%;
    .split-half--left & {
      background: #cc4422;
    }
    .split-half--right & {
      background: #3355ff;
    }
    &__item {
      width: 100%;
      height: 100%;
      display: none;
      &--image {
        background-position: center center;
        background-repeat: repeat;
        background-size: contain;
      }
      &--video {
        object-fit: cover;
      }
      &--active {
        display: block;
      }
    }
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    padding-bottom: $desktop-padding
  }
}