mixin image(imagePath, image)
  div.split-half__media__item.split-half__media__item--image(class={cover: image.cover }, data-type="image" style!=`background-image: url(${imagePath + image.fileName})`)