include ./mixins/footer.pug
include ./mixins/image.pug
include ./mixins/video.pug
include ./mixins/credit.pug
//- include ./includes/coded-by.pug

doctype html
html(lang="en")
  head
    <link rel="shortcut icon" type="image/png" href="../assets/favicon.png"/>
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(charset="utf-8")
    title #{general.title}
    description #{general.description}

  body
    .split
      .header.header--sans-serif.split-half.split-half--left('data-title'!=left.title)
        .split-half__inner
          .split-half__text
            h1.split-half__page-title= general.title
            h2.split-half__section-title.js-section-title
          .split-half__media
            each image, index in left.images
              +image(imagePath, image)
            each videoURL in left.videos
              +video(videoURL)
          +footer(contact)

      .header.header--serif.split-half.split-half--right('data-title'!=right.title)
        .split-half__inner
          .split-half__text
            div.split-half__page-title= general.title
            h2.split-half__section-title.js-section-title
          .split-half__media
            each image, index in right.images
              +image(imagePath, image)
            each videoURL in right.videos
              +video(videoURL)
          +footer(contact)
    .credits
      .credits__inner
        each credit in credits
          +credit(credit)

    script(src="scripts/index.js")